html,
body {
  width: 100%;
  height: 100%;
}
* {
  box-sizing: border-box;
}
.App {
  padding: 2rem;
  display: flex;
  justify-content: center;
}
.button-wrapper {
  min-width: 20rem;
}

.content-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  grid-gap: 1rem;
}
@media (min-width: 900px) {
  .content-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
.col {
  padding: 1rem;
}
.col.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}
.col.heading {
  font-family: monospace;
  font-size: 22px;
  font-weight: bold;
  text-transform: capitalize;
}

.my-class {
  border-color: red !important;
}
.my-caret-class {
  background: dodgerblue !important;
}
.my-overlay-class {
  background: green !important;
}
.custom-width {
  background: none !important;
}
.custom-caret-list {
  background: #0e65a3 !important;
  border-radius: 12px !important;
}
.mainText {
  background: #eef0f7 !important;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.1) !important;
  border: none;
  color: #eef0f7 !important;
  border-radius: 12px !important;
  padding: 16px !important;
  /* width: 800px !important; */
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

.divider {
  background-color: rgb(215 215 215 / 21%);
  box-shadow: 0px 2px 9px 1px rgb(0 0 0 / 15%);
  margin: 32px;
  padding: 12px;
  border-radius: 20px;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}
@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}
